<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
       <add key="mysql" value="Database=test;Port=3308;Data Source=localhost;User Id=root;Password="/>
       <add key="pwd" value="lcg"/>
       <add key="comm" value="select * from testtable where psn="/>
      <add key="begin" value="d:\test\start.txt"/>
      <add key="sn" value="d:\test\sn.txt"/><!--sn文件-->
       <add key="timeout" value="1000"/><!--write模式下写值超时时间(ms)-->
    <!--read_tid模式下为获取epc或者tid超时(ms)-->
    
    <add key="times" value="100000 10 10 10 10 10 10"/>
    <!--write模式下分别为26dBm 20dBm 18.5dBm 17dBm 15.5dBm 14dBm 12.5dBm每个频率下超时时间（ms)-->

    <add key="ip" value="192.168.1.200"/><!--单功率下的轮询次数-->
    
    <add key="model" value="write"/> <!--write模式循环找begin词段文件，然后写值-->

  </appSettings>
</configuration>
